.my{text-align: center;
  font-size: 19px;
}
.zx{text-align: center;
font-size: 22px;
}
.cv{text-align: center;
  font-size: 19px;
}
.bn{text-align: center;
  font-size: 19px;
color: red
}
.juve{text-align: center;
font-size: 35px
}
.ty{color: blue}
.ta{text-align: center;}
